body {
  background-image: url("../imgs/background.jpeg");
  background-size: 100% 100%;
}


div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}

h1{
  font-family: 'Cinzel', serif;
}

label{
  font-family: 'Cinzel', serif;
}

button {
  font-family: 'Cinzel', serif;
}

select{
  font-family: 'Cinzel', serif;
}
