body {
  background-image: url("../imgs/background.jpeg");
  background-size: 100% 100%;
}

img {
  height: 150px;
  width: 150px;
}

div {
  margin-top: 5em;
  width: 48%;
  height: 250px;
  margin: 4px;
  border: 1px solid white;
  float: left;
  align-items: center;
  text-align: center;
}

img{
  margin-top: 10px;
}

div:hover{
  opacity: .5;
}

h1{
  font-family: 'Cinzel', serif;
  color: white;
}
