<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>PT1IM</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/addremove.css">
</head>

<body>
  <a href="main.html"><button type="button" name="button">Back</button></a>
  <div class="input">
    <h1>Add Item</h1>

    <select name="id" id="addID">
      <option value="101">Chips</option>
      <option value="234">Popcorn</option>
      <option value="349">Gum</option>
      <option value="469">Icecream</option>
      <option value="534">Pretzels</option>
      <option value="699">Crackers</option>
      <option value="732">Cookies</option>
      <option value="881">Candy</option>
      <option value="910">Trailmix</option>
    </select>

    <label for="quant">Enter Quantity</label>
    <input type="number" name="quant" value="" id="addQuant">
    <button type="submit" name="button" id="addSubmit">Submit</button>
  </div>
  <script src="../app.js"></script>
</body>

</html>
