<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>PT1IM</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/invtrans.css">
</head>

<body>
  <a href="main.html"><button type="button" name="button">Back</button></a>
  <h1>Total Inventory</h1>
  <button type="button" name="viewInv" id="viewInv">View Inventory</button>
  <table style="width:100%" class="content" id="inventory">
    <tr>
      <th>Inventory</th>
    </tr>
    <tr>
      <td id="chips"></td>
    </tr>
    <tr>
      <td id="popcorn"></td>
    </tr>
    <tr>
      <td id="gum"></td>
    </tr>
    <tr>
      <td id="icecream"></td>
    </tr>
    <tr>
      <td id="pretzels"></td>
    </tr>
    <tr>
      <td id="crackers"></td>
    </tr>
    <tr>
      <td id="cookies"></td>
    </tr>
    <tr>
      <td id="candy"></td>
    </tr>
    <tr>
      <td id="trailmix"></td>
    </tr>
    </tr>
  </table>


  <script src="../app.js"></script>
</body>

</html>
