<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="../styles/inventory.css">
</head>

<body>
  <a href="main.html"><button type="button" name="button">Back</button></a>
  <h1>Total Inventory</h1>
  <button type="button" name="viewInv" id="viewInv">View Inventory</button>
  <div class="content" id="inventory">
    <h2 id="chips"></h2>
    <h2 id="popcorn"></h2>
    <h2 id="gum"></h2>
    <h2 id="icecream"></h2>
    <h2 id="pretzels"></h2>
    <h2 id="crackers"></h2>
    <h2 id="cookies"></h2>
    <h2 id="candy"></h2>
    <h2 id="trailmix"></h2>
  </div>
  <script src="../app.js"></script>
</body>

</html>
