<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
  <a href="add.html">
    <div class="Add">
      <img src="../imgs/addIcon.png" alt="">
      <h1>Add Items</h1>
    </div>
  </a>
  <a href="remove.html">
    <div class="Remove">
      <img src="../imgs/removeIcon.png" alt="">
      <h1>Remove Items</h1>
    </div>
  </a>
  <a href="inventory.html">
    <div class="Inventory">
      <img src="../imgs/inventoryIcon.png" alt="">
      <h1>View Inventory</h1>
    </div>
  </a>
  <a href="transactions.html">>
    <div class="Transactions">
      <img src="../imgs/transactionsIcon.png" alt="">
      <h1>View Transactions</h1>
    </div>
  </a>
  <script src="../app.js"></script>
</body>

</html>
